@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  /* background-color: cyan; */
}


.chat-padding{
  padding: 5px 7px;
}

.chatCount {
  position: absolute;
  /* font-size: 12px; */
  background-color: #7ac230;
  color: white;
  font-weight: 600;
  padding: 0px 6px 3px 7px;
  border-radius: 50%;
  top: -8px;
  right: -7px;
}
.nav-item{
  opacity: 0.3;
}
.nav-item:hover{
  opacity: 1;
}

/* active nav link style */

.active-nav{
  background-color: #2a2b31;
  opacity: 1 !important;
}

.mobileNavMain-open{
  display: flex !important;
  opacity:1 !important;
  flex-direction: column;
  height: fit-content !important;
  transition: all 1s !important;
  background-color: #1d2024;
  position: absolute;
  top: 40px;
}

.mobile-menu-icon{
  padding: 0px 15px 0px 16px;
}


@keyframes mobileAnimate {
}