@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  /* background-color: cyan; */
}

.chatCount {
  position: absolute;
  font-size: 8px;
  background-color: #7ac230;
  color: white;
  font-weight: 600;
  padding: 1px 4px 2px 4px;
  font-family: monospace;
  border-radius: 50%;
  top: -8px;
  right: -2px;
}
